Repository SAABOLImpactVenture/ai-powered-infrastructure-as-a-product, changes with the owners that .github/CODEOWNERS names for each.
All owners: @your-org/platform-team, @your-org/ai-team, @your-org/infra-team, @your-org/devops-team

Add files via upload
  .github/workflows/ci-matrix.yml
  .github/workflows/release.yml
Owners: @your-org/devops-team

Add files via upload
  tests/test_terraform_plan_offline.py
Owners: @your-org/platform-team

Add files via upload
  .github/marketplace.yml
Owners: @your-org/devops-team

Add files via upload
  .github/workflows/marketplace-validate.yml
Owners: @your-org/devops-team

Add files via upload
  LICENSE-COMMERCIAL.md
  LICENSE-MIT
  NOTICE
  README-MARKETPLACE.md
  README-TEMPLATE-BADGE.md
  SUPPORT.md
  assets/marketplace/banner.svg
  assets/marketplace/logo.svg
Owners: @your-org/platform-team

Add files via upload
  .github/workflows/ci-bicep-validate.yml
Owners: @your-org/devops-team

Add files via upload
  docs/observability/ops-alerts/drift-freshness-alert.json
  docs/observability/ops-alerts/failure-alert.json
  iac/azure/README.md
  iac/azure/main.bicep
Owners: @your-org/platform-team

Add files via upload
  scripts/azure/README.md
  scripts/azure/create_alert.sh
  scripts/azure/deploy_la_dcr.sh
  scripts/azure/import_workbook.sh
Owners: @your-org/ai-team

Add files via upload
  README-PHASE6.md
Owners: @your-org/platform-team

Add files via upload
  .github/workflows/ci-cloud.yml
Owners: @your-org/devops-team

Add files via upload
  governance/opa/README.md
  governance/opa/policies/deny_privileged.rego
  governance/opa/policies/required_labels.rego
  governance/opa/tests/deny_privileged_test.rego
  governance/opa/tests/required_labels_test.rego
Owners: @your-org/platform-team

Add files via upload
  platform/modules/null_evidence/identity/entra_service_principal/README.md
  platform/modules/null_evidence/identity/entra_service_principal/main.tf
  platform/modules/null_evidence/identity/entra_service_principal/variables.tf
  platform/modules/null_evidence/logging/diagnostic_settings_to_la/README.md
  platform/modules/null_evidence/logging/diagnostic_settings_to_la/main.tf
  platform/modules/null_evidence/logging/diagnostic_settings_to_la/variables.tf
  platform/modules/null_evidence/networking/azure_vnet/README.md
  platform/modules/null_evidence/networking/azure_vnet/main.tf
  platform/modules/null_evidence/networking/azure_vnet/variables.tf
Owners: @your-org/infra-team

Add files via upload
  scripts/azure/README-arc.md
  scripts/azure/arc_onboard.sh
Owners: @your-org/ai-team

Add files via upload
  .github/workflows/example-oidc-azure.yml
Owners: @your-org/devops-team

Add files via upload
  docs/golden-demo/README.md
  docs/onboarding/customer-template.md
Owners: @your-org/platform-team

Add files via upload
  scripts/drills/simulate_failure.sh
  scripts/golden_path/run_golden_demo.sh
Owners: @your-org/ai-team

Add files via upload
  LICENSE
  RELEASE_NOTES_v1.0.0.md
  analytics/dashboards/agent-evidence-observability-flow-v3-1080p.png
  analytics/dashboards/autonomous-intelligence-dashboard-1080p.png
  architecture/diagrams/ai-agent-autonomy-framework-1080p.png
  architecture/diagrams/ai-powered-framework-v3-1080p.png
  architecture/diagrams/iaap-ecosystem-map-v2-1080p.png
  architecture/diagrams/iaap-reference-architecture-1080p.png
  architecture/diagrams/infrastructure-maturity-map-1080p.png
  architecture/diagrams/multi-cloud-control-plane-ecosystem-1080p.png
  manifest.json
  product-management/diagrams/developer-platform-journey-1080p.png
  product-management/diagrams/journey-roadmap-10-mvps-1080p.png
  security/diagrams/ai-integrated-security-posture-map-1080p.png
Owners: @your-org/platform-team

Add files via upload
  governance/diagrams/agent-to-iaap-automation-flow-v3-1080p.png
  governance/diagrams/customer-governance-lifecycle-arc-1080p.png
  governance/diagrams/product-governance-council-v3-1080p.png
Owners: @your-org/platform-team

Add files via upload
  architecture/diagrams/A_2D_digital_illustration_diagram_illustrates_the_.png
  architecture/diagrams/A_digital_diagram_illustrates_a_multi-cloud_archit.png
Owners: @your-org/platform-team

Add files via upload
  architecture/diagrams/A_digital_infographic_titled__Governance_Feedback_.png
Owners: @your-org/platform-team

Delete architecture/diagrams/ai-powered-framework-v3-1080p.png
  architecture/diagrams/ai-powered-framework-v3-1080p.png
Owners: @your-org/platform-team

Add files via upload
  architecture/diagrams/A_diagram_against_a_dark_blue_background_illustrat.png
Owners: @your-org/platform-team

Add files via upload
  examples/aws.eks_secure_baseline.product.json
  examples/azure.aks_secure_baseline.product.json
  examples/gcp.gke_secure_baseline.product.json
  examples/oracle.oke_secure_baseline.product.json
Owners: @your-org/platform-team

Add files via upload
  contracts/README.md
  contracts/catalog.v1.schema.json
  contracts/evidence.v1.schema.json
  contracts/examples/aws.eks_secure_baseline.product.json
  contracts/examples/azure.aks_secure_baseline.product.json
  contracts/examples/gcp.gke_secure_baseline.product.json
  contracts/examples/oracle.oke_secure_baseline.product.json
  contracts/policy-pack.v1.schema.json
  contracts/product.v1.schema.json
Owners: @your-org/platform-team

Add files via upload
  evidence/kql/queries.kql
  evidence/schema.json
  servers/mcp/azure/index.js
  servers/mcp/azure/package.json
Owners: @your-org/platform-team

Add files via upload
  platform/aws/identity/main.tf
  platform/aws/networking/main.tf
  platform/azure/identity/entra_service_principal/README.md
  platform/azure/identity/entra_service_principal/main.tf
  platform/azure/identity/entra_service_principal/variables.tf
  platform/azure/kubernetes/gatekeeper_required_labels/README.md
  platform/azure/kubernetes/gatekeeper_required_labels/main.tf
  platform/azure/kubernetes/gatekeeper_required_labels/variables.tf
  platform/azure/networking/vnet/README.md
  platform/azure/networking/vnet/main.tf
  platform/azure/networking/vnet/variables.tf
  platform/azure/observability/log_analytics/README.md
  platform/azure/observability/log_analytics/main.tf
  platform/azure/observability/log_analytics/variables.tf
  platform/gcp/identity/main.tf
  platform/gcp/networking/main.tf
  platform/oci/identity/main.tf
  platform/oci/networking/main.tf
Owners: @your-org/platform-team

Add files via upload
  examples/README-workload-section.md
  examples/golden-demo/README.md
  examples/golden-demo/backstage/templates/agents-12-change/skeleton/README.md
  examples/golden-demo/backstage/templates/agents-12-change/skeleton/catalog-info.yaml
  examples/golden-demo/backstage/templates/agents-12-change/template.yaml
  examples/golden-demo/diagram.png
  examples/golden-demo/mock-change/main.tf
  examples/golden-demo/mock-server/Dockerfile
  examples/golden-demo/mock-server/app.py
  examples/golden-demo/mock-server/requirements.txt
  examples/mvps/mvp-03-terraform-null-resource/README.md
  examples/mvps/mvp-03-terraform-null-resource/main.tf
Owners: @your-org/platform-team

Add files via upload
  iac/azure/azure/README.md
  iac/azure/azure/main.bicep
Owners: @your-org/platform-team

Add files via upload
  backstage-custom-actions/README.md
  backstage-custom-actions/mcpPlanAction.ts
Owners: @your-org/platform-team

Add files via upload
  docs/identity/aws-oidc.md
  docs/identity/azure-oidc.md
  docs/identity/gcp-wif.md
  docs/identity/oci-federation.md
Owners: @your-org/platform-team

Add files via upload
  evidence/README.md
Owners: @your-org/platform-team

Add files via upload
  servers/mcp/aws/index.js
  servers/mcp/aws/package.json
  servers/mcp/gcp/index.js
  servers/mcp/gcp/package.json
  servers/mcp/oci/index.js
  servers/mcp/oci/package.json
Owners: @your-org/platform-team

Add files via upload
  policies/aws/README.md
  policies/aws/config/main.tf
  policies/gcp/README.md
  policies/gcp/org-policy/main.tf
  policies/kubernetes/README.md
  policies/kubernetes/gatekeeper/constraints/deny-privileged.yaml
  policies/kubernetes/gatekeeper/constraints/no-latest-tag.yaml
  policies/kubernetes/gatekeeper/constraints/required-labels.yaml
  policies/kubernetes/gatekeeper/constraints/run-as-non-root.yaml
  policies/kubernetes/gatekeeper/templates/k8sdenyprivileged_template.yaml
  policies/kubernetes/gatekeeper/templates/k8simagenotlatest_template.yaml
  policies/kubernetes/gatekeeper/templates/k8srequiredlabels_template.yaml
  policies/kubernetes/gatekeeper/templates/k8srunasnonroot_template.yaml
  policies/oci/README.md
  policies/oci/iam-policies/main.tf
Owners: @your-org/platform-team

Add files via upload
  .github/workflows/policy-aws.yml
  .github/workflows/policy-gcp.yml
  .github/workflows/policy-k8s.yml
  .github/workflows/policy-oci.yml
Owners: @your-org/devops-team

Add files via upload
  example/backstage/templates/apply-policy-pack/template.yaml
Owners: @your-org/platform-team

Add files via upload
  servers/mcp/aws/Dockerfile
  servers/mcp/azure/Dockerfile
  servers/mcp/gcp/Dockerfile
  servers/mcp/oci/Dockerfile
Owners: @your-org/platform-team

Add files via upload
  observability/README.md
  observability/dce-dcr-evidence.bicep
  observability/workbook-evidence.json
Owners: @your-org/platform-team

Add files via upload
  backstage-custom-actions/mcpPolicyCheckAction.ts
  servers/mcp-policy/README.md
  servers/mcp-policy/aws/Dockerfile
  servers/mcp-policy/aws/index.js
  servers/mcp-policy/gcp/Dockerfile
  servers/mcp-policy/gcp/index.js
  servers/mcp-policy/k8s/Dockerfile
  servers/mcp-policy/k8s/index.js
  servers/mcp-policy/oci/Dockerfile
  servers/mcp-policy/oci/index.js
Owners: @your-org/platform-team

Add files via upload
  docker/docker-compose.yml
  tools/policy-dashboard/index.js
  tools/policy-dashboard/package.json
Owners: @your-org/platform-team

Add files via upload
  backstage-plugins/policy-status/PolicyStatusCard.tsx
  backstage-plugins/policy-status/README.md
  backstage-plugins/policy-status/index.ts
  tools/policy-dashboard/snapshot.js
Owners: @your-org/platform-team

.github/CODEOWNERS:

# Code ownership
*       @your-org/platform-team
/scripts @your-org/ai-team
/platform/modules @your-org/infra-team
/.github @your-org/devops-team
