Repository SAABOLImpactVenture/ai-powered-infrastructure-as-a-product, changes with the owners that .github/CODEOWNERS names for each.
All owners: @your-org/platform-team, @your-org/ai-team, @your-org/infra-team, @your-org/devops-team

Add files via upload
  examples/backstage-backend-plugins/policy-proxy/README.md
  examples/backstage-backend-plugins/policy-proxy/index.ts
  examples/backstage-backend-plugins/policy-proxy/standalone.js
Owners: @your-org/platform-team

Add files via upload
  README-MARKETPLACE.md
  README-workload-section.md
  README.md
  REMEDIATION_NOTES.md
  contracts/catalog.v1.schema.json
  contracts/evidence.v1.schema.json
  contracts/examples/aws.eks_secure_baseline.product.json
  contracts/examples/azure.aks_secure_baseline.product.json
  contracts/examples/gcp.gke_secure_baseline.product.json
  contracts/examples/oracle.oke_secure_baseline.product.json
  contracts/policy-pack.v1.schema.json
  contracts/product.v1.schema.json
  examples/README-workload-section.md
  examples/aws.eks_secure_baseline.product.json
  examples/azure.aks_secure_baseline.product.json
  examples/gcp.gke_secure_baseline.product.json
  examples/golden-demo/README.md
  examples/golden-demo/backstage/templates/agents-12-change/skeleton/README.md
  examples/golden-demo/mock-change/main.tf
  examples/golden-demo/mock-server/app.py
  examples/oracle.oke_secure_baseline.product.json
  scripts/golden_path/run_golden_demo.sh
  tests/test_terraform_plan_offline.py
Owners: @your-org/platform-team, @your-org/ai-team

Add files via upload
  example/README-workload-section.md
  example/golden-demo/README.md
  example/golden-demo/mock-change/main.tf
  example/golden-demo/mock-server/app.py
  examples/README-workload-section.md
  examples/golden-demo/backstage/templates/agents-12-change/template.yaml
  examples/golden-demo/mock-change/main.tf
  examples/golden-demo/mock-server/app.py
  platform/modules/null_evidence/README.md
  platform/modules/null_evidence/main.tf
  tests/test_terraform_plan_offline.py
Owners: @your-org/platform-team, @your-org/infra-team

Delete example/README-workload-section.md
  example/README-workload-section.md
Owners: @your-org/platform-team

Delete example/mvps/mvp-03-terraform-null-resource/main.tf
  example/mvps/mvp-03-terraform-null-resource/main.tf
Owners: @your-org/platform-team

Delete example/mvps/mvp-03-terraform-null-resource/README.md
  example/mvps/mvp-03-terraform-null-resource/README.md
Owners: @your-org/platform-team

Delete example/golden-demo/diagram.png
  example/golden-demo/diagram.png
Owners: @your-org/platform-team

Delete example/golden-demo/README.md
  example/golden-demo/README.md
Owners: @your-org/platform-team

Delete example/golden-demo/mock-server/requirements.txt
  example/golden-demo/mock-server/requirements.txt
Owners: @your-org/platform-team

Delete example/golden-demo/mock-server/app.py
  example/golden-demo/mock-server/app.py
Owners: @your-org/platform-team

Delete example/golden-demo/mock-server/Dockerfile
  example/golden-demo/mock-server/Dockerfile
Owners: @your-org/platform-team

Delete example/golden-demo/mock-change/main.tf
  example/golden-demo/mock-change/main.tf
Owners: @your-org/platform-team

Delete example/golden-demo/backstage/templates/agents-12-change/template.yaml
  example/golden-demo/backstage/templates/agents-12-change/template.yaml
Owners: @your-org/platform-team

Delete example/backstage/templates/apply-policy-pack/template.yaml
  example/backstage/templates/apply-policy-pack/template.yaml
Owners: @your-org/platform-team

Add files via upload
  README.md
  docs/assets/multicloud-hero.png
Owners: @your-org/platform-team

Add files via upload
  docs/government/deployments.md
  policies/aws/fedramp/main.tf
  policies/azure/fedramp/baseline.bicep
  policies/fedramp/README.md
  policies/gcp/fedramp/main.tf
  policies/kubernetes/gatekeeper/overlays/nsa-cisa/README.md
  policies/kubernetes/gatekeeper/overlays/nsa-cisa/constraints/allowed-registries.yaml
  policies/kubernetes/gatekeeper/overlays/nsa-cisa/constraints/deny-hostnetwork.yaml
  policies/kubernetes/gatekeeper/overlays/nsa-cisa/constraints/deny-hostpid.yaml
  policies/kubernetes/gatekeeper/overlays/nsa-cisa/constraints/readonly-rootfs.yaml
  policies/kubernetes/gatekeeper/overlays/nsa-cisa/constraints/require-seccomp.yaml
  policies/kubernetes/gatekeeper/overlays/nsa-cisa/constraints/run-as-non-root.yaml
  policies/kubernetes/gatekeeper/overlays/nsa-cisa/templates/k8sallowedregistries_template.yaml
  policies/kubernetes/gatekeeper/overlays/nsa-cisa/templates/k8sdenyhostnetwork_template.yaml
  policies/kubernetes/gatekeeper/overlays/nsa-cisa/templates/k8sdenyhostpid_template.yaml
  policies/kubernetes/gatekeeper/overlays/nsa-cisa/templates/k8sdroproot_template.yaml
  policies/kubernetes/gatekeeper/overlays/nsa-cisa/templates/k8sreadonlyrootfs_template.yaml
  policies/kubernetes/gatekeeper/overlays/nsa-cisa/templates/k8sseccomp_template.yaml
  policies/oci/fedramp/main.tf
  tools/oscal-export/README.md
  tools/oscal-export/export.py
Owners: @your-org/platform-team

Add files via upload
  README.md
Owners: @your-org/platform-team

Add files via upload
  workloads/README.md
  workloads/agents-mcp-aoai/README.md
  workloads/agents-mcp-aoai/ci/agent-plan.yml
  workloads/agents-mcp-aoai/evidence/kql.md
  workloads/agents-mcp-aoai/prompts/plan-summary.md
  workloads/agents-mcp-aoai/routes/backstage-template.yaml
  workloads/agents-mcp-aoai/service/agent-orchestrator.ts
  workloads/iaap/README.md
  workloads/iaap/modules/aws/networking/main.tf
  workloads/iaap/products/baseline-networking-aws.product.json
  workloads/identity/README.md
  workloads/identity/workflows/aws-oidc.yml
  workloads/identity/workflows/azure-oidc.yml
  workloads/identity/workflows/gcp-wif.yml
  workloads/identity/workflows/oci-cli.yml
  workloads/multi-cloud/README.md
  workloads/multi-cloud/router/index.js
Owners: @your-org/platform-team

Add files via upload
  README.md
Owners: @your-org/platform-team

Add files via upload
  workloads/agents-mcp-aoai/policies/gates.json
  workloads/agents-mcp-aoai/roles/README.md
  workloads/agents-mcp-aoai/roles/delivery-architect.md
  workloads/agents-mcp-aoai/roles/product-manager.md
  workloads/agents-mcp-aoai/roles/prompts/delivery-architect.md
  workloads/agents-mcp-aoai/roles/prompts/product-manager.md
  workloads/agents-mcp-aoai/roles/prompts/responsible-engineer.md
  workloads/agents-mcp-aoai/roles/prompts/security-identity-expert.md
  workloads/agents-mcp-aoai/roles/raci.yaml
  workloads/agents-mcp-aoai/roles/responsible-engineer.md
  workloads/agents-mcp-aoai/roles/security-identity-expert.md
Owners: @your-org/platform-team

Add files via upload
  backstage-custom-actions/README.md
  backstage-custom-actions/label-pr.ts
  workloads/agents-mcp-aoai/controls/map.json
  workloads/agents-mcp-aoai/playbooks/change-review.yml
  workloads/agents-mcp-aoai/runbooks/rollback.md
  workloads/agents-mcp-aoai/service/role-summaries.ts
Owners: @your-org/platform-team

Add files via upload
  README.md
Owners: @your-org/platform-team

Add files via upload
  README.md
Owners: @your-org/platform-team

Add files via upload
  workloads/agents-mcp-aoai/prompts/delivery-architect.md
  workloads/agents-mcp-aoai/prompts/evaluator.md
  workloads/agents-mcp-aoai/prompts/example-output.json
  workloads/agents-mcp-aoai/prompts/example-plan.txt
  workloads/agents-mcp-aoai/prompts/output-schema.json
  workloads/agents-mcp-aoai/prompts/plan-summary.md
  workloads/agents-mcp-aoai/prompts/product-manager.md
  workloads/agents-mcp-aoai/prompts/responsible-engineer.md
  workloads/agents-mcp-aoai/prompts/security-identity-expert.md
Owners: @your-org/platform-team

Add files via upload
  README.md
Owners: @your-org/platform-team

Add files via upload
  CHANGELOG.md
  Makefile
Owners: @your-org/platform-team

Create sd
  .devcontainer/sd
Owners: @your-org/platform-team

Add files via upload
  .devcontainer/devcontainer.json
Owners: @your-org/platform-team

Delete .devcontainer/sd
  .devcontainer/sd
Owners: @your-org/platform-team

Add files via upload
  artifacts/oscal/sample/assessment-results.json
Owners: @your-org/platform-team

Add files via upload
  docs/compliance/control-matrix.csv
Owners: @your-org/platform-team

Add files via upload
  k8s/network-policies/deny-egress.yaml
  k8s/podsecurity/baseline.yaml
Owners: @your-org/platform-team

Add files via upload
  security/sig-lite.md
Owners: @your-org/platform-team

Add files via upload
  servers/mcp-policy/azure/Dockerfile.distroless
  servers/mcp/azure/Dockerfile.distroless
Owners: @your-org/platform-team

Add files via upload
  tools/bootstrap.sh
Owners: @your-org/platform-team

.github/CODEOWNERS:

# Code ownership
*       @your-org/platform-team
/scripts @your-org/ai-team
/platform/modules @your-org/infra-team
/.github @your-org/devops-team
